{
	"name":			"{{ name }}",
	"version":		"{{ version }}",
	"copyright":	"{{ copyright }}",
	"kladr":		"{{ kladr }}",
	"password":		"{{ password }}",
	"updateKey":	"{{ updateKey }}",
	"debug": {
		"errors":	{{ debug.errors }},
		"message":	{{ debug.message }},
		"console":	{{ debug.console }}
	}
}